extends layout

block content
  h1 Node 0.10
  h2= title
  p Welcome to #{title}
  ul
    li
      h4 node 0.10
        &nbsp
        a(href='http://node010-node.azk.dev') http://node010-node.azk.dev
    li
      h4 Python 3.4
        &nbsp
        a(href='http://python34-python.azk.dev') http://python34-python.azk.dev
    li
      h4 jRuby 1.7
        &nbsp
        a(href='http://jruby17-ruby.azk.dev') http://jruby17-ruby.azk.dev
    li
      h4 Rails 4.1
        &nbsp
        a(href='http://rails41-rails.azk.dev') http://rails41-rails.azk.dev
    li
      h4 Ruby 1.9
        &nbsp
        a(href='http://ruby19-ruby.azk.dev') http://ruby19-ruby.azk.dev
    li
      h4 Ruby 2.0
        &nbsp
        a(href='http://ruby20-ruby.azk.dev') http://ruby20-ruby.azk.dev
    li
      h4 Ruby 2.1
        &nbsp
        a(href='http://ruby21-ruby.azk.dev') http://ruby21-ruby.azk.dev