extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href='http://node010-node.azk.dev') http://node010-node.azk.dev
    li
      a(href='http://python34-python.azk.dev') http://python34-python.azk.dev
    li
      a(href='http://jruby17-ruby.azk.dev') http://jruby17-ruby.azk.dev
    li
      a(href='http://rails41-rails.azk.dev') http://rails41-rails.azk.dev
    li
      a(href='http://ruby19-ruby.azk.dev') http://ruby19-ruby.azk.dev
    li
      a(href='http://ruby20-ruby.azk.dev') http://ruby20-ruby.azk.dev
    li
      a(href='http://ruby21-ruby.azk.dev') http://ruby21-ruby.azk.dev